@charset "UTF-8";

header {
    flex-flow: column nowrap; /*o cabeçalho e o menu ficam em colunas*/

}

header > nav {
    display: none;
    flex-direction: column;
    width: 100%;
}

header > h1 {
    flex-basis: 50px; /*aqui é a distancia do h1 até o proximo item, no caso, o menu. */
}

header > nav > a {
    width: 100%;
    display: block;
    margin: 2px 0px;
}

span#burguer {
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

span#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
#section1{
    display: grid;
    grid-template-columns: 1fr; /* 1 produto por linha */
    justify-items: center;
}
