@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(179, 175, 175);
    height: 100vh;
    width: 100vw;
}

header {
    background-color: gray;
    color: white;
    padding: 10px;

    display: flex; /* todos os elementos aqui dentro ja se estabilizam dentro da linha*/
    flex-flow: row wrap;
    justify-content: space-between; /* os itens ficam um no comeco e outro no fim, havendo + de 2, eles vao ocupar o espaço central com o mesmo afastamento de um e do outro*/
    align-items: center; /*os itens dentro desse container se ajustaram no meio deste bloco*/
}

header > h1 {
    /*border: 1px dotted black;*/
    flex: 0 0 200px; /*primeiro diz que nao cresce, o segundo não encolhe e terceiro mantem o tamnho dos itens nessa dimensão*/
    text-shadow:  2px 2px rgba(0, 0, 0, 0.445);
}

header > nav {
    /*border: 1px dotted black;*/
    text-shadow:  2px 2px rgba(0, 0, 0, 0.445);
    display: flex;/*deixa os menus flexiveis */
    flex-flow: row wrap;
    justify-content: flex-end; /*sempre deixa eles no fim da box*/
}

header > nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover {
    background-color: white;
    color: black;
    transition: background-color .5s;

}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3 px rgba(0, 0, 0, 0.356);
}

/* Aqui consigo fazer o media query dentro do proprio CSS - configurado pra tela de 500px, tera o comportamento que for colocado aqui nessa tag

@media screen and (max-width: 500px) {
    body {
        background-color: red;
    }
}
*/ 