@charset "UTF-8";


:root { /* aqui coloca pra tudo.... BIZUUUUU*/
    --cor0: #FFCC33;
    --cor1: #CFB53B;
    --cor2: #D4AF37;
    --cor3: #CBA135;
    --cor4: #1B1B1B;
    

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Sriracha", cursive;
}
.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-destaque);
    font-size: 1em;
    background-image: linear-gradient(to bottom, var(--cor0), white);
    height: 100vh;
    width: 100vw;
}

header {
    background-image: linear-gradient(to left, var(--cor0), white);
    color: rgb(0, 0, 0);
    padding: 10px;

    display: flex; /* todos os elementos aqui dentro ja se estabilizam dentro da linha*/
    flex-flow: row wrap;
    justify-content: space-between; /* os itens ficam um no comeco e outro no fim, havendo + de 2, eles vao ocupar o espaço central com o mesmo afastamento de um e do outro*/
    align-items: center; /*os itens dentro desse container se ajustaram no meio deste bloco*/
}

header > h1 {
    /*border: 1px dotted black;*/
    flex: 0 0 200px; /*primeiro diz que nao cresce, o segundo não encolhe e terceiro mantem o tamnho dos itens nessa dimensão*/
    text-shadow:  2px 2px rgba(0, 0, 0, 0.445);
    font-family: var(--fonte-destaque)
}

header > nav {
    /*border: 1px dotted black;*/
    display: flex;/*deixa os menus flexiveis */
    flex-flow: row wrap;
    justify-content: flex-end; /*sempre deixa eles no fim da box*/
}

header > nav > a {
    background-color: rgba(0, 0, 0, 0.322);
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover {
    background-color: white;
    color: black;
    transition: background-color .5s;

}

span#burguer {    /*na tela grande o icon de menu nao aparecerá*/
    display: none;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3 px rgba(0, 0, 0, 0.356);
}
section{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
}

.destaques {
    background-color: #CFB53B;
    text-align: justify;
    
}
/* Aqui consigo fazer o media query dentro do proprio CSS - configurado pra tela de 500px, tera o comportamento que for colocado aqui nessa tag

@media screen and (max-width: 500px) {
    body {
        background-color: red;
    }
}
*/ 